# Tupples

In [14]:
subjects = ('MIS', 'Computer Networks', 'CGA', 'Management', 'DotNet', 'Python')
print(subjects)
print()
# Convert to list, modify, and convert back to tuple
subjects_list = list(subjects)
subjects_list[subjects_list.index('Python')] = 'Java'
subjects = tuple(subjects_list)

print(subjects)
print()
subj = list(subjects)
subj[0] = 'CGA'
print(tuple(subj))
count = len(subjects)
print(count)
subjects.count("CGA")

('MIS', 'Computer Networks', 'CGA', 'Management', 'DotNet', 'Python')

('MIS', 'Computer Networks', 'CGA', 'Management', 'DotNet', 'Java')

('CGA', 'Computer Networks', 'CGA', 'Management', 'DotNet', 'Java')
6

1

In [23]:
a = (1, 2, 3)
b = (4, 5, 3)
add = a + b
print(add)
print()
c = a * 3
print(c)

(1, 2, 3, 4, 5, 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

# SET

In [37]:
set1 = {""}
set2 = {}
set3 = set()
print(type(set1))
print(type(set2))
print(set3)

<class 'set'>
<class 'dict'>
set()

In [ ]:
set1 = {"abc", 34, True, 40, 40, 40, "Male"}
print(len(set1))
print(set1)

5
{True, 34, 'abc', 40, 'Male'}

In [1]:
a = {1,2,3}
a.add(4)
print(a)
# remove does throw an error if removing item doesnot exist
a.remove(2)
print(a)
# discasrd does not throw an error even removing item doesnot exist
a.discard(100)
print(a)

{1, 2, 3, 4}
{1, 3, 4}
{1, 3, 4}

# Disctionary

In [26]:
marks = {
    'hari': 90,
    'shyam': 80,
    'sita': 70
}
# print(marks)
# print(type(marks))
# print(marks['hari'])
# print(marks.values())
# print(marks.items())
for name, marks in marks.items(): 
    print(f"{name} has scored {marks}")

hari has scored 90
shyam has scored 80
sita has scored 70

In [4]:
st1 = {
    'name': 'Ram',
    'age': 30,
    'faculty': 'BCA'
}
st2 = {
    'name': 'Hari',
    'age': 20,
    'faculty': 'CSIT'
}
students = {
    101: st1,
    102: st2,
}
print(students[101]['name'])

Ram
5
{True, 34, 40, 'abc', 'Male'}